.home-a {
    width: 100%;
    height: 82vh;
    display: flex;
    padding: 10px 15px;
    align-items: center;
    justify-content: center;
}

.home-a-in {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-a-in-txt h1 {
    color: #2065d1;
}

.home-a-in-txt p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.home-a-in-txt a  {
    color: #2065d1;
    transition: 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #2065D1;
}

.home-a-in-txt a:hover {
    color: #fff;
    transition: 0.3s;
    background: #2065d1;
}

.nav-a {
    display: none;
}

/* MEDIA SCREEN */

@media only screen and (max-width: 1280px) {
    .home-a-in img {
        width: 250px;
        height: 250px;
    }

    .home-a-in-txt {
        width: 50%;
    }
}

@media only screen and (max-width: 950px) {
    .home-a-in {
        width: 100%;
    }
}

@media only screen and (max-width: 680px) {
    .home-a-in {
        display: block;
        padding-top: 5rem;
        text-align: center;
    }

    .home-a-in-txt {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .home-a-in {
        margin-top: -5rem;
    }

    .home-a-in-txt h1 {
        font-size: 25px;
    }

    .home-a-in img {
        width: 300px;
        height: 300px;
        margin-top: 1rem;
    }
}