.way {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.way-card {
    width: 450px;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.way-card img {
    width: 150px;
    height: 150px;
}

.writer {
    width: 100%;
}

.go {
    width: 100%;
}

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 10px;
    position: absolute;
    align-items: center;
    background: #070c12d6;
    justify-content: center;
    position: fixed; z-index: 11;
}

.closer {
    top: 15px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    font-size: 40px;
    color: crimson;
    position: absolute;
    background: #fff;
    border-radius: 5px;
}

.modal-card {
    width: 400px;
    height: 250px;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
    border-radius: 5px;
    background: #121212;
    box-shadow: 0 0 3px #000;
}

.modal-card p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-card img {
    width: 110px;
    height: 100px;
}