@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Doppio+One&family=Frijole&family=Rubik+Doodle+Shadow&family=Rubik+Maps&display=swap');

.about {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    padding: 10px 25px;
    padding-bottom: 5rem;
}

.about h1 {
    font-weight: 400;
    text-align: center;
    margin-top: 1.5rem;
    font-style: normal;
    font-family: "Doppio One", sans-serif;
}

.about-in {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-cards {
    width: 60%;
    height: 100%;
    margin-top: 1rem;
}

.about-card h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.bg-1 {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.about-card a {
    padding: 10px;
    color: #2970ff;
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 5px;
    background: #121221;
    text-decoration: none;
}

/* MEDIA SCREEN */

@media only screen and (max-width: 1000px) {
    .about-cards {
        width: 80%;
    }
}

@media only screen and (max-width: 590px) {
    .about-cards {
        width: 100%;
    }

    .about-card img {
        height: 250px;
    }

}